@import url('https://fonts.googleapis.com/css?family=Jura:300|IBM+Plex+Sans:300,400,500,600,700');

body{
  font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
  background: #f5f5f5;
  font-weight: 400;
}

#container{
  max-width: 375px;
  width: 100%;
  background: white;
}

#navBar{
  color: #ffffff;
  background: #184254;
  height: 72px;
}

#navBar img{
  width: 100%;
  max-width: 375px;
}

#appName{
  width: 100%;
  text-align:center;
  font-family: 'Jura', 'Helvetica', sans-serif;
  font-size: 1.5em;
}

#titleArea{
  width: 100%;
  text-align: center;
  font-size: 1.08em;
  margin-top: 4px;
}

#titleArea img{
  width: 10px;
}

#busStopName{
  font-style: italic;
}

#scheduleHeader{
  height: 50px;
  background: #184254;
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
}

#scheduleLabel{
  font-size: 1.2em;
  line-height: 2.6em;
  padding-left: 10px;
  width: 30%;
  display: inline-block;
  position: relative;
  float: left;
}

#busDirections{
  width: 53%;
  display: inline-block;
  position: relative;
  float: right;
  text-align: right;
  font-size: .85em;
  line-height: 1.5em;
  padding: 4px 6px 0 0;
  font-weight: 300;
}

.schedulesList{
  height: auto;
  overflow: auto;
}

.directionHeader{
  text-transform: uppercase;
  font-size: .7em;
  background: #20576e;
  height: 20px;
  color: #ffffff;
  padding: 4px 10px 0;
  letter-spacing: 1px;
}

.scheduleItem{
  width: 100%;
  height: 75px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(24, 66, 84, .5);
  font-weight: 500;
  box-sizing: border-box;
}

.busLine, .scheduleDetailIcon, .scheduleContent, .arrival{
  position: relative;
  float: left;
  display: inline-block;
  width: 18%;
}

.scheduleContent{
  margin-left: 2%;
  width: 68%;
}

.busLine{
  font-size: 1.9em;
  line-height: 2.2em;
  font-weight: 500;
  text-align: center;
}

.lineDirection{
  font-size:1.25em;
  margin: .7em 0 .3em;
}

.arrivalTimes{
  font-weight: 400;
}

.arrival{
  font-weight: 500;
  width: auto;
  border: 1px solid rgba(24, 66, 84, .7);
  padding: 2px 5px;
  margin-right: 5px;
  font-size: .75em;
  text-align: center;
  border-radius: 5px;
}

#leftArrow img{
  width: 12px;
}

#menuIcon img{
  width: 20px;
}

#mapArea img{
  width: 100%;
}

#rightArrow img{
  width: 40px;
}

.scheduleDetailIcon{
  margin-top: 10px;
  width: 12%;
}

.selectedDirection{
  text-decoration:underline;
}

@media only screen and (max-width: 600px) {
    #container, #navBar img{
      max-width: none;
    }
}

@media only screen and (max-width: 320px) {
    #titleArea{
      margin:10px 0;
    }

    #container, #navBar img{
      max-width: 320px;
    }

    #busDirections{
      font-size: .77em;
      line-height: 1.6em;
    }

    .busLine{
      font-size: 1.6em;
      line-height: 2.5em;
    }

    .arrivalTimes{
      font-size: .9em;
    }

    .arrival{
      font-size: .7em;
    }

    .directionHeader{
      line-height: 1.4em;
    }

    .lineDirection{
      font-size: 1.2em;
    }
}
